:root {
    --fs0: 30px;
    --fs1: 24px;
    --fs2: 16px;
    --fs3: 14px;
    --fs4: 12px;
}

.text {
  margin: 0;
}

.text.bold {
  font-weight: 700;
}
.text.normal {
  font-weight: 400;
}


.text.title {
  font-size: var(--fs0);
}

.text.heading {
  font-size: var(--fs1);
}

.text.subheading {
  font-size: var(--fs2);
}

.text.paragraph {
  font-size: var(--fs3);
}

.text.small {
  font-size: var(--fs4);
}


.text.poppins {
  font-family: Poppins;
}

.text.rubik {
  font-family: Rubik;
}
