:root {
  --theme-black: #0d0d0d;
  --theme-white: #fefefe;
  --theme-grey: #cecece;
  --theme-pawprints: #ffd803;

  --theme-primary-background: #fefefe;
  --theme-primary-text: #0d0d0d;
  --theme-secondary-background: #e3f6f5;
  --theme-secondary-text: #0d0d0d;
  --theme-secondary-dark-background: #bae8e8;
  --theme-secondary-dark-text: #0d0d0d;
  --theme-tertiary-background: #ffd803;
  --theme-tertiary-text: #0d0d0d;
  --theme-quadratic-background: #272343;
  --theme-quadratic-text: #fefefe;

  --theme-button-middle-text: #fffffe;
  --theme-danger-background: #eb445a;
  --theme-danger-text: #fffffe;
  --theme-warning-background: #ffd803;
  --theme-warning-text: #0d0d0d;
  --theme-success-background: #2dd36f;
  --theme-success-text: #fffffe;
  --theme-button-icon: #ffd803;
  --theme-list-log-background: rgba(255, 216, 3, 0.7);
  --theme-list-log-text: #000000;
  --theme-card-highlight-color: #000000;
}

[data-color="success"],
.theme.color.success {
  color: var(--theme-success-text);
}

[data-color="warning"],
.theme.color.warning {
  color: var(--theme-warning-text);
}

[data-color="danger"],
.theme.color.danger {
  color: var(--theme-danger-text);
}

[data-background-color="success"],
.theme.background.success {
  background-color: var(--theme-success-background);
}

[data-background-color="warning"],
.theme.background.warning {
  background-color: var(--theme-warning-background);
}

[data-background-color="danger"],
.theme.background.danger {
  background-color: var(--theme-danger-background);
}

[data-outline="success"],
.theme.outline.success {
  outline: 2px solid var(--theme-success-background);
}

[data-outline="warning"],
.theme.outline.warning {
  outline: 2px solid var(--theme-warning-background);
}

[data-outline="danger"],
.theme.outline.danger {
  outline: 2px solid var(--theme-danger-background);
}

.theme.color.primary {
  color: var(--theme-primary-text);
}

.theme.color.secondary {
  color: var(--theme-secondary-text);
}

.theme.color.tertiary {
  color: var(--theme-tertiary-text);
}

.theme.color.quadratic {
  color: var(--theme-quadratic-text);
}

.theme.background.primary {
  background-color: var(--theme-primary-background);
}

.theme.background.secondary {
  background-color: var(--theme-secondary-background);
}

.theme.background.tertiary {
  background-color: var(--theme-tertiary-background);
}

.theme.background.quadratic {
  background-color: var(--theme-quadratic-background);
}
