@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  -webkit-font-smoothing: antialiased;
  font-family:'Poppins', 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --font-family-Rubik: 'Rubik', sans-serif;
  --font-family-Poppins: 'Rubik', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --content-padding-top: 5px;
  --content-padding-right: 30px;
  --content-padding-down: 5px;
  --content-padding-left: 30px;
  --content-padding: var(--content-padding-top) var(--content-padding-right) var(--content-padding-down) var(--content-padding-left);
}

/* ----------------------- FLEX ----------------------- */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex: 1 0 0;
}


/* ----------------------- DISPLAY ----------------------- */
.display-none {
  display: none !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}


/* ----------------------- SCROLLBAR ----------------------- */
.scroll-hidden {
  --overflow:hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
